section.contact {
  background-color: #ffffff;
}

section.contact .wrapper {
  display: grid;
  grid-template-rows: 80px 600px 1fr 200px 10px;
}

section.contact .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.contact .wrapper form input,
section.contact .wrapper form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color: #00366f;
  border: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  margin-top: 20px;
}

section.contact .wrapper form input::-webkit-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form input:-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form input::-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form input::placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea {
  resize: none;
  height: 200px;
  padding-top: 10px;
}

section.contact .wrapper form textarea::-webkit-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea:-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea::-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea::placeholder {
  color: #00366f;
}

section.contact .wrapper form button.submit {
  position: relative;
  width: 160px;
  background-color: #00366f;
  color: #ffffff;
  border: none;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  padding-left: 0;
  padding: 15px 20px;
  cursor: pointer;
}

.contactInfo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.contactInfoSection {
  margin: 10px 0;
  position: relative;
}

.contactInfoSection p {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  color: #00366f;
  font-weight: 500;
}

.contactInfoSectionTitle {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.contactInfoSectionTitle::after {
  position: absolute;
  top: 50px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00366f;
}

.contactInfoSectionTitle h3 {
  position: relative;
  font-family: Oswald, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #00366f;
}

.map {
  width: 100%;
  height: 100%;
}

@media (min-width: 568px) {

  section.contact .wrapper form input,
  section.contact .wrapper form textarea {
    width: 280px;
  }
}

@media (min-width:1024px) {
  section.contact .wrapper {
    width: 800px;
    grid-gap: 20px;
    grid-template-rows: 80px 390px 1fr 200px 10px;
  }

  section.contact .wrapper form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 200px 80px;
    grid-gap: 10px;
    margin-top: 20px;
  }

  section.contact .wrapper form input,
  section.contact .wrapper form textarea {
    margin-top: 0;
    width: 100%;
  }

  section.contact .wrapper form textarea {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .contactInfo {
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr
  }

  section.contact .wrapper form button.submit {
    -webkit-transition: .3s;
    transition: .3s;
  }

  section.contact .wrapper form button.submit:hover {
    background-color: #FAA922;
    color: #00366f;
  }


}

@media (min-width:1400px) {
  section.contact .wrapper {
    width: 1200px;
  }
}