section.contact {
  background-color: #ffffff;
}

section.contact .wrapper {
  display: grid;
  /* grid-template-rows: 80px 600px 1fr 200px 10px; */
  grid-template-rows: 80px 1fr 200px 750px 10px;
}

section.contact .wrapper form {
  display: grid;
  grid-template-rows: 60px 60px 60px 200px 1fr 1fr 60px;
  grid-gap: 20px;
  margin-top: 20px;
}

section.contact .wrapper form input,
section.contact .wrapper form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color: #00366f;
  border: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  /* margin-top: 20px; */
  margin: 0 auto;
}

input#name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

input#email {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

input#phone {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

textarea#message {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

div.errors {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 0 auto;
}

div.checkbox {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

div.submit {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

section.contact .wrapper form input::-webkit-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form input:-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form input::-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form input::placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea {
  resize: none;
  height: 200px;
  padding-top: 10px;
}

section.contact .wrapper form textarea::-webkit-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea:-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea::-ms-input-placeholder {
  color: #00366f;
}

section.contact .wrapper form textarea::placeholder {
  color: #00366f;
}

div.submit {
  /* grid-row: 6 / 7; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.contact .wrapper form button.submit {
  position: relative;
  width: 160px;
  background-color: #00366f;
  color: #ffffff;
  border: none;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  padding-left: 0;
  padding: 15px 20px;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
  /* margin-top: 20px; */
}


.contactInfo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.contactInfoSection {
  margin: 10px 0;
  position: relative;
}

.contactInfoSection p {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  color: #00366f;
  font-weight: 500;
}

.contactInfoSectionTitle {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.contactInfoSectionTitle::after {
  position: absolute;
  top: 50px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00366f;
}

.contactInfoSectionTitle h3 {
  position: relative;
  font-family: Oswald, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #00366f;
}

section.contact .wrapper form .checkbox {
  /* grid-row: 5 / 6; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

section.contact .wrapper form .checkbox input {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section.contact .wrapper form .checkbox label {
  width: 100%;
  height: 100%;
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  color: #00366f;
  line-height: 20px;
}

.map {
  width: 100%;
  height: 100%;
}

.error {
  font-family: Quicksand, sans-serif;
  color: red;
  font-size: 12px;
}



@media (min-width: 568px) {

  section.contact .wrapper form input,
  section.contact .wrapper form textarea,
  section.contact .wrapper form .checkbox,
  div.errors {
    width: 280px;
  }
}

@media (min-width:1024px) {
  section.contact .wrapper {
    width: 800px;
    grid-gap: 20px;
    grid-template-rows: 80px 1fr 200px 390px 10px;
  }

  section.contact .wrapper form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 200px 100px;
    grid-gap: 10px;
    margin-top: 20px;
  }

  section.contact .wrapper form input,
  section.contact .wrapper form textarea {
    margin-top: 0;
    width: 100%;
  }

  section.contact .wrapper form textarea {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  section.contact .wrapper form .checkbox {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  input#email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  input#phone {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  input#checkbox {
    width: 20px;
    height: 20px;
  }

  textarea#message {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  div.errors {
    grid-row: 3 / 4;
  }

  div.submit {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  div.submit {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  section.contact .wrapper form .checkbox label {
    height: auto;
  }

  .contactInfo {
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr
  }

  section.contact .wrapper form button.submit {
    -webkit-transition: .3s;
    transition: .3s;
  }

  section.contact .wrapper form button.submit:hover {
    background-color: #FAA922;
    color: #00366f;
  }


}

@media (min-width:1400px) {
  section.contact .wrapper {
    width: 1200px;
  }
}