body {
  max-width: 1920px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

header.active {
  background-color: #ffffff;
}

.headerHeight {
  height: 80px;
}

header .wrapper {
  position: relative;
  width: 90%;
  height: 100%;
}

.hamburgerContainer {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30px;
  height: 20px;
}

.hamburgerContainer.active>div:nth-of-type(1) {
  /* width: px; */
  top: 50%;
  /* left: 50%; */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburgerContainer.active>div:nth-of-type(2) {
  /* width: 25px; */
  /* top: 25%; */
  /* left: 50%; */
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburgerContainer.active>div:nth-of-type(3) {
  top: 50%;
  opacity: 0;
}

.hamburgerContainer div {
  position: absolute;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 1px;
  background-color: #00366f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburgerContainer div:nth-of-type(1) {
  top: 0;
  left: 0;
}

.hamburgerContainer div:nth-of-type(2) {
  top: 50%;
  left: 0;
}

.hamburgerContainer div:nth-of-type(3) {
  top: 100%;
  left: 0;
}

nav {
  position: fixed;
  /* top: 50%; */
  /* top: 50%; */
  bottom: 0;
  left: 0%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  /* height: calc(500px - 80px); */
  height: calc(100vh - 80px);
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 1;
}

nav.active {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 10px 20px;
  /* border: 1px solid #00366f; */
}

nav ul li a {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #00366f;
  text-decoration: none;
}

header img {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100px;
}

@media (min-width: 568px) {
  nav ul li {
    padding: 5px 15px;
    /* border: 1px solid #00366f; */
  }
}

@media (min-width: 1024px) {
  header .wrapper {
    width: 800px;
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  .hamburgerContainer {
    display: none;
  }

  header img {
    left: 5%;
  }

  nav {
    display: none;
  }

  nav ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
  }

  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90px;
    height: 100%;
    padding: 0;
    border: none;
  }

  nav ul li a {
    font-weight: 400;
  }

  nav.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: auto;
    height: auto;
    /* display: block; */
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    background-color: transparent;
  }

  nav.desktop a {
    line-height: 80px;
    width: 90px;
    /* -ms-flex-preferred-size: 15%; */
    /* flex-basis: 15%; */
    height: 100%;
    font-size: 14px;
    background-color: transparent;
    color: #ffffff;
    font-family: Quicksand, sans-serif;
    /* border: none; */
    /* padding: 0 10px; */
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
  }

  nav.desktop a:hover {
    background-color: #faa922;
  }

  nav.desktop ul li a.activeButton {
    background-color: #faa922;
  }
}

@media (min-width: 1400px) {
  header .wrapper {
    width: 1200px;
    grid-template-columns: 50% 1fr;
  }

  .wrapper {
    width: 1200px;
  }

  nav.desktop button {
    font-size: 14px;
  }
}