section.gallery {
  min-height: 400px;
}

section.gallery .wrapper {
  display: grid;
  grid-template-rows: 80px 1fr 40px;
}

section.gallery .wrapper div.gallery {
  width: 100%;
  position: relative;
  margin-top: 20px;
  grid-row: 2 / 3;
}

.react-photo-gallery--gallery {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  section.gallery .wrapper {
    width: 800px;
  }
}

@media (min-width: 1400px) {
  section.gallery .wrapper {
    padding-top: 20px;
    width: 1200px;
  }
}
