* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-height: 150vh;
  /* background-color: burlywood; */
}

.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}